<h2>Registro</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :nome %><br />
      <%= f.text_field :nome, autofocus: true, autocomplete: "nome", required: true %>
    </div>

    <div class="field">
      <%= f.label :cpf %><br />
      <%= f.text_field :cpf, {class:"cpf", required: true}%>
    </div>

    <div class="field">
      <%= f.label :data_nascimento %><br />
      <%= f.text_field :data_nascimento, {class:"datepicker", required: true}%>
    </div>

    <div class="field">
      <%= f.label :genero %><br />
      <%= f.select :genero,[["Masculino","masculino"],["Feminino", "feminino"]], {required: true}%>
    </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Registrar", class:"btn white-text", target:"_self" %>
  </div>
<% end %>

<%#= render "devise/shared/links" %>
