
<h4>Olá, <%= @user %></h4> <br>
<p>Bem vindo a maior rede de eleitores do Brasil.</p> <br>
<p>Por essa rede vamos assumir o comando de mandatos de parlamentares conforme
  O artigo primeiro, parágrafo único da constituição.</p> <br>

<br>
<p>Seja bem vindo (a)</p>

<p><a href="<%= confirmar_cadastro_users_url(code: @user.id) %>">Valide seu cadastro</a></p>
