<h4>Olá, <%= @user %></h4>
<br>
<br>
<p>Esses eleitors estão na sua zona eleitoral e ainda não aderiram a nenhuma rede, entre em contato.</p> <br>

<% @eleitores.each do |e| %>
    <p>
      <li><%= e %></li>
      <li><%= e.telefone %></li>
        <li><%= e.email %></li>
    </p>
<% end %>