
<h4>Olá, <%= @indicacao.usuario_indicado %></h4> <br>
<p>Você recebeu convite para fazer parte da maior rede de eleitores do Brasil.</p> <br>
<p>Por essa rede vamos assumir o comando de mandatos de parlamentares conforme
  O artigo primeiro, parágrafo único da constituição.
</p>
<br><br>
<p>Seja bem vindo (a)</p> <br><br>

<p>Clique <a href="<%= receber_indicacao_users_url(codigo: @indicacao.codigo) %>">aqui</a> para ingressar na rede.</p>

