<h4>Olá</h4> <br>
<p>Você recebeu convite para fazer parte da maior rede de eleitores do Brasil.</p> <br>
<p>Por essa rede vamos assumir o comando de mandatos de parlamentares conforme
  O artigo primeiro, parágrafo único da constituição.
</p>
<br><br>
<p>Seja bem vindo (a)</p> <br><br>

<p>Utilize esse código para ingressar na rede: <%= @indicacao.codigo %></p>

<p>Baixe o app clicando <a href="https://play.google.com/store/apps/details?id=br.com.mandatopopular ">aqui</a> </p>