<p id="notice"><%= notice %></p>

<h1>Projetos</h1>

<div class="card" style="overflow: visible;">
  <div class="card-content">
    <span class="card-title grey-text text-darken-4">
      Pesquisa
    </span>
    <div id="pesquisa" class="not-show">
      <%= search_form_for @q, url: request.env['PATH_INFO'] do |f|  %>
          <%= f.text_field :nome_or_user_nome_cont, placeholder: "Projeto, Candidato" %>
          <br><br>
          <%= f.submit "Filtrar", class:"btn white-text" %>
          <%= link_to "Limpar", projetos_path, class:"btn white-text" %>
      <% end %>
    </div>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Candidato</th>
      <th>Aprovado</th>
      <th>Data início</th>
      <th>Data término</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projetos.each do |projeto| %>
      <tr>
        <td><%= projeto.nome %></td>

        <td><%= projeto.user %></td>
        <td><%= projeto.aprovado == true ? "SIM" : "NÃO" %></td>
        <td><%= projeto.data_inicio %></td>
        <td><%= projeto.data_termino %></td>
        <td><%= link_to 'Visualizar', projeto %></td>
        <td><%= link_to 'Editar', edit_projeto_path(projeto) %></td>
        <td><%= link_to 'Excluir', projeto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @projetos %>
<br>

