<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col s12">
  <div class="card">
    <div class="card-content">
      <h4>Projeto: <%= @projeto.nome %></h4>
    </div>
  </div>
  </div>
</div>

<div class="row">
  <div class="col s12 l8">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Dados</span>
        <p>
          <strong>Nome:</strong>
          <%= @projeto.nome %>
        </p>

        <p>
          <strong>Candidato:</strong>
          <%= @projeto.user %>
        </p>

        <p>
          <strong>Aprovado:</strong>
          <%= @projeto.aprovado == true ? "SIM" : "NÃO" %>
        </p>

        <p>
          <strong>Data início:</strong>
          <%= @projeto.data_inicio %>
        </p>

        <p>
          <strong>Data término:</strong>
          <%= @projeto.data_termino %>
        </p>
        <p>
          <strong>Video:</strong>
          <%= @projeto.video %>
        </p>
      </div>
    </div>
  </div>
  <div class="col s12 l4">
    <div class="card">
      <div class="card-content">
        <iframe width="auto" height="auto" src="<%= @projeto.video %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Descrição do projeto</span>
        <p>
          <%= @projeto.descricao %>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="card">
    <div class="card-content">
      <span class="card-title">
        Opções de votação
      </span>
      <table>
        <thead>
        <th>Opção</th>
        <th>Votos</th>
        </thead>
      <% @projeto.projeto_opcoes.each do |op| %>
          <tr>
            <td><%= op %></td>
            <td><%= op.total_votos %></td>
          </tr>
      <% end %>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12">
      <%= link_to "Aprovar Projeto", aprovar_projeto_projeto_path(@projeto), class:"btn white-text" if !@projeto.aprovado %>
    <%= link_to "Reprovar Projeto", aprovar_projeto_projeto_path(@projeto), class:"btn white-text" if @projeto.aprovado %>
  </div>
</div>


<%= link_to 'Projetos', projetos_path %>
