<%= form_with(url: atualizar_usuario_user_path,method: :get, local: true) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, value: @user.nome %>
  </div>

  <div class="field">
    <%= form.label :cpf %>
    <%= form.text_field :cpf, value: @user.cpf %>
  </div>

    <div class="field">
      <%= form.label :email %>
      <%= form.text_field :email, value: @user.email %>
    </div>

  <div class="field">
    <%= form.label :data_nascimento, "Data de Nascimento" %>
    <%= form.text_field :data_nascimento,{value: @user.data_nascimento, class:"datepicker2"} %>
  </div>

  <div class="input-field">

    <%= form.select :genero, options_for_select([["Masculino","masculino"],["Feminino","feminino"]], @user.genero) %>
    <%= form.label :genero, "Gênero" %>
  </div>

  <div class="input-field">

    <%= form.select :category_id, options_for_select(@categorias, @user.category_id), {include_blank: true} %>
    <%= form.label :category_id, "Categoria" %>
  </div>

  <div class="field">
    <%= form.label :indicador %>
    <%= form.select :indicador, options_for_select(@usuarios,@user.indicador), {include_blank: true},{ class:"browser-default select2"} %>
  </div>

  <div class="actions">
    <%= form.submit "Salvar", target: "_self"%>
  </div>
<% end %>
