<p id="notice"><%= notice %></p>

<h1 class="center-align">Pessoas</h1>

<div class="card">
  <div class="card-content">
  <%= search_form_for @q do |f| %>

      <div class="input-field">
        <%= f.label :nome_or_category_name_or_cpf_cont, "Nome, Categoria ou CPF" %>
        <%= f.search_field :nome_or_category_name_or_cpf_cont %>
      </div>

      <%= f.submit "Pesquisar" %>
  <% end %>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Enviar Notificação</a>
<table class="striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>CPF</th>
      <th>Email</th>
      <th>Data de nascimento</th>

      <th>Categoria</th>
      <th>Indicador</th>
      <th>Naturalidade</th>
      <th>Local de Votação</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.nome %></td>
        <td><%= user.cpf %></td>
        <td><%= user.email %></td>
        <td><%= user.data_nascimento %></td>

        <td><%= user.category %></td>
        <td><%= user.parent %></td>
        <td><%= user.cidade %> - <%= user.estado %></td>
        <td><%= user.cidade_votacao %> - <%= user.estado_votacao %></td>
        <td></td>
        <td><%= link_to 'Rede', rede_user_path(user), target: "_self"  %> |
          <%= link_to 'Editar', edit_user_path(user) , target: "_self"%></td>
        <!--<td></td>-->
        <!--<td><%#= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

    <div id="modal1" class="modal">
      <%= form_with url: send_firebase_message_users_path, method: :get, local: true do | form| %>
        <div class="modal-content">
          <h4>Envio de Notificação</h4>
          <div class="input-field">
            <%= form.label :titulo, "Título" %>
            <%= form.text_field :titulo %>
          </div>

          <div class="input-field">
            <%= form.label :msg, "Mensagem" %>
            <%= form.text_area :msg, {class:"materialize-textarea"} %>
          </div>

          <div class="input-field">

            <%= form.select :topico, @topicos %>
            <%= form.label :topico, "Para" %>
          </div>
        </div>
        <div class="modal-footer">
          <%= form.submit "Enviar", class:"btn white-text", target: "_self" %>
        </div>
      <% end %>
    </div>

<%= paginate @users %>

<br>
  </div>
</div>
