<div class="center-align"><img src="/images/mandato_logo.jpeg" alt=""></div>
<div class="row center-align">
  <% if @sucesso %>
    <h1>Indicação ativada com sucesso!</h1> <br>
    <h4>Agora você é um <%= @indicado.category %></h4>
  <% else %>
      <h1>Erro ao ativar indicação!</h1> <br>
  <% end %>
</div>