<p id="notice"><%= notice %></p>

<h1 class="center-align">Pessoas</h1>

<div class="card-panel">
  <b>Pessoa: </b><%= @user %> <br>
  <b>Categoria: </b><%= @user.category %>
</div>

<div class="card">

  <div class="card-content">
    <span class="card-title">Rede</span>
    <table>
      <thead>
      <tr>
        <th>Nome</th>
        <th>CPF</th>
        <th>Data de nascimento</th>
        <th>Gênero</th>
        <th>Categoria</th>
        <th>Indicador</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @user.descendants.each do |user| %>
          <tr>
            <td><%= user.nome %></td>
            <td><%= user.cpf %></td>
            <td><%= user.data_nascimento %></td>
            <td><%= user.genero %></td>
            <td><%= user.category %></td>
            <td><%= user.parent %></td>
            <td><%= link_to 'Rede', rede_user_path(user), target: "_self" %></td>
            <!--<td><%#= link_to 'Edit', edit_user_path(user) %></td>-->
            <!--<td><%#= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>


<br>

