<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "login-form"}) do |f| %>
  <% flash.each do |name, msg| %>
    <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
  <% end %>
    <div id class="row">
      <div class="input-field col s12 center">

      </div>
    </div>

    <div class="row margin">
      <div class="input-field col s12">
        <i class="material-icons prefix pt-5">person_outline</i>
        <%= f.label :email, "E-mail" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    </div>

    <div class="row margin">
      <div class="input-field col s12">
        <i class="material-icons prefix pt-5">lock_outline</i>
        <%= f.label :password, "Senha" %>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
    </div>

    <%# if devise_mapping.rememberable? -%>
        <!--<div class="row">
          <div class="col s12 m12 l12 ml-2 mt-3">
            <%#= f.check_box :remember_me %>
            <%#= f.label :remember_me, "Permanecer Conectado" %>
          </div>
        </div>-->
    <%# end -%>

    <div class="actions">
      <%= f.submit "Entrar", class:"btn waves-effect waves-light col s12" %>
    </div>

    <div class="row margin">
      <div class="input-field col s12">
        <%#= render "devise/shared/links" %>
        <p>&nbsp;</p>
      </div>
    </div>

<% end %>

