<%= form_with(model: projeto_duvida, local: true) do |form| %>
  <% if projeto_duvida.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(projeto_duvida.errors.count, "error") %> prohibited this projeto_duvida from being saved:</h2>

      <ul>
      <% projeto_duvida.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :projeto_id %>
    <%= form.text_field :projeto_id %>
  </div>

  <div class="field">
    <%= form.label :duvida %>
    <%= form.text_area :duvida %>
  </div>

  <div class="field">
    <%= form.label :resposta %>
    <%= form.text_area :resposta %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
