<p id="notice"><%= notice %></p>

<h1>Projeto Duvidas</h1>

<table>
  <thead>
    <tr>
      <th>Projeto</th>
      <th>Duvida</th>
      <th>Resposta</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projeto_duvidas.each do |projeto_duvida| %>
      <tr>
        <td><%= projeto_duvida.projeto %></td>
        <td><%= projeto_duvida.duvida %></td>
        <td><%= projeto_duvida.resposta %></td>
        <td><%= projeto_duvida.user %></td>
        <td><%= link_to 'Show', projeto_duvida %></td>
        <td><%= link_to 'Edit', edit_projeto_duvida_path(projeto_duvida) %></td>
        <td><%= link_to 'Destroy', projeto_duvida, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Projeto Duvida', new_projeto_duvida_path %>
