<p id="notice"><%= notice %></p>

<p>
  <strong>Projeto:</strong>
  <%= @projeto_duvida.projeto %>
</p>

<p>
  <strong>Duvida:</strong>
  <%= @projeto_duvida.duvida %>
</p>

<p>
  <strong>Resposta:</strong>
  <%= @projeto_duvida.resposta %>
</p>

<p>
  <strong>User:</strong>
  <%= @projeto_duvida.user %>
</p>

<%= link_to 'Edit', edit_projeto_duvida_path(@projeto_duvida) %> |
<%= link_to 'Back', projeto_duvidas_path %>
