<%= form_with(model: category, local: true) do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field">
    <%= form.label :name, "Nome" %>
    <%= form.text_field :name %>
  </div>

  <div class="input-field">
    <%= form.label :description, "Descrição" %>
    <%= form.text_area :description, {class:"materialize-textarea"} %>
  </div>

  <div class="input-field">
    <%= form.label :max, "Total de indicações" %>
    <%= form.number_field :max %>
  </div>

  <div class="field">

    <%= form.check_box :active %>
    <%= form.label :active, "Ativo" %>
  </div>

    <div class="input-field">
      <%= form.label :namespace, "Tópico de Notificação" %>
      <%= form.text_field :namespace %>
    </div>

    <br>

  <div class="actions">
    <%= form.submit "Salvar", class:"btn white-text", target:"_self" %>
  </div>
<% end %>
