<p id="notice"><%= notice %></p>

<h1 class="center-align">Categorias</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Categoria Pai</th>
      <th>Tópico</th>
      <th>Ativa</th>
      <th colspan="3">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.name, category %></td>
        <td><%= category.parent %></td>
        <td><%= category.namespace %></td>
        <td><%= category.active == true ? "SIM" : "NÃO" %></td>

        <td>

            <%= link_to "Novo Filho", "#modal1", class:"modal-trigger", target:"_self", onclick:"set_id(#{category.id})" %><!--if !category.has_children?-->
          <%= link_to "Alterar Pai", "#modal_pai", class:"modal-trigger", target:"_self", onclick:"set_id(#{category.id})" %>
            <%= link_to "Editar", edit_category_path(category), target:"_self" %>

            <%= link_to 'Excluir', category, method: :delete, data: { confirm: 'Deseja realmente excluir?' } %>

        </td>




      </tr>
    <% end %>
  </tbody>
</table>






<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Categoria Filha</h4>
    <%= form_with url: add_children_categories_path, method: :get, local: true do |form| %>
        <%= form.hidden_field :category_id, id:"categoria" %>
        <div class="input-field">
          <%= form.label :name, "Nome" %>
          <%= form.text_field :name %>
        </div>

        <div class="input-field">
          <%= form.label :description, "Descrição" %>
          <%= form.text_area :description, {class:"materialize-textarea"} %>
        </div>

        <div class="input-field">
          <%= form.label :max, "Total de indicações" %>
          <%= form.number_field :max %>
        </div>

        <div class="field">

          <%= form.check_box :active %>
          <%= form.label :active, "Ativo" %>
        </div>
        <%= form.submit "Salvar", class:"btn white-text", target:"_self"%>
    <% end %>
  </div>
  <div class="modal-footer">
    <!--<a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>-->
  </div>
</div>

<div id="modal_pai" class="modal">
  <div class="modal-content">
    <h4>Atualizar Categoria Pai</h4>
    <%= form_with url: atualiza_pai_categories_path, method: :get, local: true do |form| %>
        <%= form.hidden_field :categoria_filha, id:"categoria_filha" %>
        <div class="input-field">

          <%= form.select :categoria_pai, @categories.map{|a| [a.name,a.id] } %>
          <%= form.label :categoria_pai, "Categoria Pai" %>
        </div>

        <%= form.submit "Salvar", class:"btn white-text", target:"_self"%>
    <% end %>
  </div>
  <div class="modal-footer">
    <!--<a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>-->
  </div>
</div>

<br>

<%= link_to 'Nova Categoria', new_category_path, class:"btn white-text", target:"_self" %>

<script type="text/javascript" charset="utf-8">


 function set_id(id)
 {
    $("#categoria").val(id);
     $("#categoria_filha").val(id);
 }
</script>
