<!-- Floating Action Button -->
<div class="fixed-action-btn " style="bottom: 50px; right: 19px;">
  <%# if usuario_signed_in?  and (current_usuario.admin? || current_usuario.precisa?) %>
    <% if params[:action] == "show" %>
        <a class="btn-floating btn-large gradient-precisa gradient-shadow">
          <i class="material-icons">eject</i>
        </a>
        <ul>
          <li>
            <%= link_to "/#{params[:controller]}/new", class:"btn-floating blue gradient-shadow tooltipped", data:{position: :left, delay: 50, tooltip: "novo"} , target:"_self" do  %>
                <i class="material-icons">add</i>
            <% end %>
          </li>
          <li>
            <%= link_to "#{current_uri = request.env['PATH_INFO']}/edit", class:"btn-floating green gradient-shadow tooltipped", data:{position: :left, delay: 50, tooltip: "editar"} , target:"_self" do  %>
                <i class="material-icons">edit</i>
            <% end %>
          </li>
          <li>
            <%#= link_to versoes_listar_path(item_type: params[:controller].classify, item_id: params[:id]), class:"btn-floating amber gradient-shadow tooltipped", data:{position: :left, delay: 50, tooltip: "histórico"} , target:"_self" do  %>
                <!--<i class="material-icons">history</i>-->
            <%# end %>
          </li>
        </ul>

    <% end  %>
    <% if params[:action] == "index" %>
        <%= link_to "#{current_uri = request.env['PATH_INFO'] == "/"  ? "/conteudos" : request.env['PATH_INFO']}/new", class:"btn-floating btn-large gradient-precisa gradient-shadow", target:"_self" do  %>
            <i class="material-icons">add</i>
        <% end %>
    <% end %>
  <%# end %>
</div>
<!-- Floating Action Button -->