<!-- START LEFT SIDEBAR NAV-->
<aside id="left-sidebar-nav" class="nav-expanded nav-lock nav-collapsible">
  <div class="brand-sidebar">
    <h1 class="logo-wrapper">
      <a href="index.html" class="brand-logo darken-1">
        <!--<img src="/p-icon.png" alt="materialize logo">-->
        <span class="logo-text hide-on-med-and-down" style="font-family: 'Exo 2', sans-serif;">Mandato</span>
      </a>
      <a class="navbar-toggler">
        <i class="material-icons">radio_button_checked</i>
      </a>
    </h1>
  </div>
  <ul id="slide-out" class="side-nav fixed leftside-navigation">
    <li>
      <a href="/" target="_self">
        <i class="material-icons">home</i>
        <span class="nav-text">Início</span>
      </a>
    </li>
    <li>
      <a href="/users " target="_self">
        <i class="material-icons">list</i>
        <span class="nav-text">Pessoas</span>
      </a>
    </li>
    <li>
    <li>
      <a href="/categories " target="_self">
        <i class="material-icons">list</i>
        <span class="nav-text">Categorias</span>
      </a>
    </li>
    <li>
      <a href="/projetos " target="_self">
        <i class="material-icons">list</i>
        <span class="nav-text">Projetos</span>
      </a>
    </li>
    <li>
      <a href="/usuarios/sign_out">
        <i class="material-icons">exit_to_app</i>
        <span class="nav-text">Sair</span>
      </a>
    </li>
  </ul>
  <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only gradient-45deg-light-blue-cyan gradient-shadow">
    <i class="material-icons">menu</i>
  </a>
</aside>
<!-- END LEFT SIDEBAR NAV-->