<!DOCTYPE html>
<html lang="pt-br" ng-app="app">
<head>
  <link rel="apple-touch-icon" href="/icon/apple-icon.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/icon/android-icon-192x192.png?v=2">
  <link rel="icon" type="image/png" sizes="512x512" href="/icon/favicon-32x32.png?v=2">
  <link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png?v=2">
  <link rel="manifest" href="/icon/manifest.json">
  <meta name="msapplication-TileColor" content="#880e4f">
  <meta name="msapplication-TileImage" content="/icon/ms-icon-144x144.png?v=2">
  <meta name="theme-color" content="#ffc107">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="description" content="Veeg - Todos os Planos de Internet estão aqui">
  <meta name="keywords" content="planos de internet, banda larga, pesquisa de plano, internet, telefonia, veeg">
  <title>Mandato Popular</title>
  <!-- CORE CSS-->    
  <link href="/materialize/css/materialize.css" type="text/css" rel="stylesheet" >
  <link href="/materialize/css/style.css" type="text/css" rel="stylesheet" >
  <!-- Custome CSS-->    
  <link href="/materialize/css/custom-style.css" type="text/css" rel="stylesheet" >
  <!-- Custome CSS-->    
  <link href="/materialize/css/custom-style.css" type="text/css" rel="stylesheet" >
  <link href="/fontello/css/fontello.css" type="text/css" rel="stylesheet" >
  <link href="/fontello/css/fontello-codes.css" type="text/css" rel="stylesheet" >

  <link rel="stylesheet" href="/jquery_calendar/css/eventCalendar.css">

  <!-- Theme CSS file: it makes eventCalendar nicer -->
  <link rel="stylesheet" href="/jquery_calendar/css/eventCalendar_theme_responsive.css">

  <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
  <link href="/materialize/js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" >
  <link href="/materialize/js/plugins/jvectormap/jquery-jvectormap.css" type="text/css" rel="stylesheet" >
  <link href="/materialize/js/plugins/chartist-js/chartist.min.css" type="text/css" rel="stylesheet" >
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/font-awesome/css/emoticon-awesome.css">
  <link href="/materialize/js/plugins/fullcalendar/css/fullcalendar.min.css" type="text/css" rel="stylesheet" >
  <link href="/easy-pie/assets/lib/css/jquery.easy-pie-chart.css" type="text/css" rel="stylesheet" >
  <!-- Core CSS File. The CSS code needed to make eventCalendar works -->

  <!--Angular -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
  <script type="text/javascript" src="https://code.angularjs.org/1.6.2/angular-animate.js"></script>
  <script type="text/javascript" src="https://code.angularjs.org/1.6.2/angular-sanitize.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.16/angular-filter.min.js"></script>
  <script type="text/javascript" src="/angular/app.module.js"></script>


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag "https://www.google.com/jsapi" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%#= include_sync_config %>
  <%= yield :important_script  %>

  <%= csrf_meta_tags %>
  <script src="/sweetalert/dist/sweetalert.min.js"></script> 
  <link rel="stylesheet" type="text/css" href="/sweetalert/dist/sweetalert.css">
  <link rel="stylesheet" href="/chosen/chosen.min.css">

  <script type="text/javascript">
    function toggle_sidebar() {
     var sidebar = $('#left-sidebar-nav');
     var main = $('#main');
     if (sidebar.is(":visible")) {
      sidebar.hide();
      main.css("padding-left","0px");    			
    }else{
      sidebar.show();
      main.css("padding-left","240px"); 
    };

  }

</script>
<style type="text/css">
  .logo-to{
   position:fixed; 
   bottom:10px; 
   left:25px; 
   float:left;
   z-index: 1000;
   background: #fff
 }
 #left-sidebar-nav:hover .logo-to{ 
   display: none;
 }
 .chosen-single{
   background: none !important;
   background-color: rgba(255, 255, 255, 0.9) !important;
   width: 100% !important;
   padding: 5px !important;
   border: 1px solid #f2f2f2 !important;
   border-radius: 2px !important;
   height: 3rem !important;
   font-size: 14px !important;
 }
 .chosen-drop{
   border: 1px solid #f2f2f2 !important;
   border-radius: 2px !important;
 }
 .chosen-search {
   width: 95%
 }

</style>
<script type="text/javascript">
  $(document).on('nested:fieldAdded', function(event){
  // this field was just inserted into your form
  var field = event.field; 
  // it's a jQuery object already! Now you can find date input
  var dateField = field.find('.datetii  mepicker');
  var chosenField = field.find('.chosen-select');
  // and activate datepicker on it
  dateField.datetimepicker();
  chosenField.chosen();
})
</script>
  <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>

<%#= yield :head  %>



</head>
</html>
<body>
<style>
  @media only screen and (min-width: 600px) {
    #main {
      padding-left: 0px;
    }

    #left-sidebar-nav {
      display: none;
    }
  }
  .page-footer{
    clear: both;
    position: relative;

  }

</style>
	<!-- Start Page Loading -->
	<!--div id="loader-wrapper">
		<div id="loader"></div>        
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div -->
	<!-- End Page Loading -->

	<!-- //////////////////////////////////////////////////////////////////////////// -->

	<!-- START HEADER -->
	<%#= render 'layouts/topbar' %>
	<!-- END HEADER -->

	<!-- //////////////////////////////////////////////////////////////////////////// -->

	<!-- START MAIN -->
	<div id="main">
		<!-- START WRAPPER -->
		<div class="wrapper">


			<section id="content">

				<!--start container-->
				<div class="container">
					<%= yield  %>
        </div>
				</section>
				<!-- END CONTENT -->

        <div class="fixed-action-btn no-print" style="bottom: 60px; right: 30px;">
          <%#= yield :btns_circle %>
        </div>

        <!-- //////////////////////////////////////////////////////////////////////////// -->
        <!-- START RIGHT SIDEBAR NAV-->
        <%#= render 'layouts/right_sidebar' %>
        <!-- LEFT RIGHT SIDEBAR NAV-->

      </div>
      <!-- END WRAPPER -->

    </div>
    <!-- END MAIN -->

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-88922192-1', 'auto');
    ga('send', 'pageview');

  </script>


    <!-- //////////////////////////////////////////////////////////////////////////// -->

    <!-- START FOOTER -->
    <!--<footer class="page-footer grey lighten-1" style="padding-left: 0px">-->
     <!--<div class="footer-copyright">-->
      <!--<div class="container center">-->
        <!--Copyright © <%#= Date.today.year %> | <a class="white-text" href="http://veeg.com.br" target="_blank">Veeg</a> em parceria com-->
        <!--<a class="white-text" href="http://novostek.com" target="_blank">Novostek LLC</a>-->
     <!--</div>-->
   <!--</div>-->
 <!--</footer>-->
 <!-- END FOOTER -->


    <!-- ================================================
    Scripts
    ==========================r====================== -->

    <!-- jQuery Library -->
    <!--materialize js-->
    <script type="text/javascript" src="/materialize/js/materialize.js"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="/materialize/js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    

    <!-- chartjs -->
    <script type="text/javascript" src="/materialize/js/plugins/chartjs/chart.min.js"></script>

    <!-- sparkline -->
    <script type="text/javascript" src="/materialize/js/plugins/sparkline/jquery.sparkline.min.js"></script>
    <script type="text/javascript" src="/materialize/js/plugins/sparkline/sparkline-script.js"></script>

    <!-- google map api -->
    <script async defer type="text/javascript" src="https://maps.google.com/maps/api/js?libraries=places,drawing,visualization&key=AIzaSyDMUpi9klfsed7huZAVkkPp-U8S_9SUwao"></script>

    
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="/materialize/js/plugins.js"></script>
    <script type="text/javascript" src="/chosen/chosen.jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/2.1.0/jquery.imagesloaded.min.js"></script>
    <script src="/imagefill/js/jquery-imagefill.js"></script>    

    <!-- Toast Notification -->
    <% if flash[:notice].present? %>
    <script type="text/javascript">
      $(window).load(function() {
        setTimeout(function() {
          Materialize.toast('<span><%= flash[:notice] %></span>', 3000);
        }, 1500);
      });
    </script>
    <% end %>

    <% if flash[:alert].present? %>
    <script type="text/javascript">
      $(window).load(function() {
        setTimeout(function() {
          Materialize.toast('<span class="red-text"><%= flash[:alert] %></span>', 3000);
        }, 1500);
      });
    </script>
    <% end %>
    <script type="text/javascript">
      $(".chosen-select").chosen();
    </script>
    <!--End of Tawk.to Script-->
    <script type="text/javascript">
      $('.image-fill').imagefill();
    </script> 
    <script type="text/javascript" src="/materialize/js/plugins/fullcalendar/lib/jquery-ui.custom.min.js"></script>
    <script type="text/javascript" src="/materialize/js/plugins/fullcalendar/lib/moment.min.js"></script>
    <script type="text/javascript" src="/materialize/js/plugins/fullcalendar/js/fullcalendar.min.js"></script>
    <script type="text/javascript" src="/materialize/js/plugins/fullcalendar/js/lang-all.js"></script>
    <script src="/jquery_calendar/js/moment.js" type="text/javascript"></script>
    <script src="/jquery_calendar/js/jquery.eventCalendar.min.js" type="text/javascript"></script>

    <script>tinymce.init({
      selector:'.html-editor',
      plugins: "image imagetools autolink link",
    });</script>

    <%= yield :scripts  %>
